<% layout('layouts/boilerplate') %> 
<form action="/campgrounds" method="POST">
    <div>
        <label for="title">Title</label>
        <!-- campground[title] groups content sent in POST under "campground" -->
        <input type="text" name="campground[title]" id="title">
    </div>
    <div>
        <label for="location">Location</label>
        <!-- campground[title] groups content sent in POST under "campground" -->
        <input type="text" name="campground[location]" id="location">
    </div>
    <button>Add Campground</button>
</form>
<a href="/campgrounds">All Campgrounds</a>